body {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%23872341" stroke="%23870F71" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8FAFC;
    border-bottom: 3px solid #872341;
    padding: 40px;
    position: relative;
}

.logo {
    position: absolute;
    top: -5px;
    left: 15px;
}

.logo img {
    width: 80px;
    height: auto;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px;
    text-align: center;
    margin-top: -60px;
}

.character-illustration img {
    width: 600px;
}

.text-section {
    margin-left: 10px;
    text-align: left;
}

.skills {
    font-size: 18px;
    color: #872341;
    text-align: center;
    margin-top: -100px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons img {
    width: 50px;
    margin: 10px;
    margin-top: -10px;
}

.prevproject-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.previous-project img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects-section {
    display: block;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    margin-top: -40px;
}

.projects-section img {
    border: 8px solid #872341;
    background-color: white;
    padding: 10px;
}


.projects-section img:nth-child(-n+3) {
    width: 25vw;
    height: 25vw;
}


.projects-section img:nth-child(n+4) {
    width: 35vw;
    height: 20vw;
}

.text1-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.text1-project img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh; 
    margin-top: -220px;
}

.skills-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.another-skills-section {
    text-align: center;
    margin-top: 10px;
}

.show-more-link {
    text-decoration: none; 
    color: #872341; 
}

.show-more-link h3 {
    margin: 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.show-more-link:hover {
    text-decoration: underline;
}

.text2-project img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
}


.aboutme-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 40px;
    gap: 40px; 
    margin-top: -10px;
}

.shamel img {
    width: 600px; 
    height: auto;
}

.education-section {
    text-align: left;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.education-section img {
    width: 500px;
    height: auto;
    margin-bottom: -90px;
    margin-top: -250px;
}

.info {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #872341;
    text-align: justify; 
    margin-top: -90px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
